<section class="comments">
    <div class="col-md-12 col-xs-12 col-lg-12" align="center">
                                 <h2 class="top_h2"> Comentarios </h2>

     </div>
    <div class="row">


                             
                            <div class="col-md-12 col-xs-12 col-lg-12" style="padding: 0;">
                                <div class="fb-comments" data-href="{{ post.url | prepend: site.baseurl }}" data-colorscheme="dark" data-num-posts="6"  data-width="100%"></div>

                                </div>


                         


   

    </div>
</section>


     
      
