<section class="comments" id="comments">
    <div class="col-md-12 col-xs-12 col-lg-12" align="center">
                                 <h2 class="top_h2"> Comentarios </h2>

     </div>

       <div class="row">

  

                             
                            <div class="col-md-12 col-xs-12 col-lg-12" style="position: relative;padding-top: 25px; padding-bottom: 25px; background-color: #080808;">

                                                      <i style="padding-top: 15px;padding-left: 5px;position: absolute;font-size: 40px;color: #ff012e;" class="fas fa-exclamation-triangle"></i>  <p style="padding-left: 60px;color:white; font-size: 15px; text-align: justify;">  - Todo comentario con Spolier, será eliminado. <br> - Si tiene problemas con la reproducción del video, use los comentarios para informarnos, lo solucionaremos lo más pronto posible. <br> - Comentarios positivos y constructivos siempre son bienvenidos n_n.  </p>
                            </div>
       

        </div>
    <div class="row">


                             
                            <div class="col-md-12 col-xs-12 col-lg-12">
                                 <div id="disqus_thread" style="padding-top: 25px;"></div>

                                </div>

   

    </div>
</section>
<script>


(function() { 
var d = document, s = d.createElement('script');
s.src = 'https://https-breaktimetv-github-io.disqus.com/embed.js';
s.setAttribute('data-timestamp', +new Date());
(d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>