<footer>
  <div align="center" id="footer-post" style="color:white; display:none" class="disable-select">
    <span>GotoPlay</span> No almacena ningún vídeo, estos son alojados en sitios de terceros, nosotros solo recopilamos los mejores sin publicidad  - Hay {{ site.posts | size }} contenido disponible

    <p> GotoPlay © - <script>document.write(new Date().getFullYear());</script><svg class="love"><use xlink:href="#icon-heart"></use></svg>  </p>
    Desarrollado por: <span style="color:white; font-weight: bold"> Un Gotoplayer  </span>
 

  
    <div align="center" style="color:white;">
      <a href="{{ site.baseurl}}/politica-privacidad"> Política de Privacidad </a>
      |
      <a href="{{ site.baseurl}}/aviso-legal"> Aviso Legal </a>
      |
      <a href="{{ site.baseurl}}/terminos-servicios"> Términos de servicios </a>


      </div>
    <div align="center" style="color:white;    padding-top: 10px;" id="footer-facebook-post">
   
      <a  href="https://www.instagram.com/GotoPlay/"  target="_blank" title="Instagram">
        <svg><use xlink:href="#icon-instagram"></use></svg>
      </a>
      <a href="//www.dmca.com/Protection/Status.aspx?ID=9f502a51-e127-4c1f-a527-3300ace55a3c" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-09.png?ID=9f502a51-e127-4c1f-a527-3300ace55a3c"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
    </div>
  </div>



<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>

<script  src="/assets/js/sweetalert.min.js"></script>

<!-- Google CDN Hosted jQuery  -->


<script type="text/javascript">
$('#gform').on('submit', function(e) {
  $('#myModal').modal('hide');
  $('#entry.257663063').val('');
  
  swal("Enviado!", "Gracias por haber reportado el problema, lo solucionaremos lo más pronto posible!", "success")
  });
</script>

     


     <script  src="/assets/js/owl.carousel.js"></script>


 

     
<script src="/assets/js/prefixfree.min.js"></script>
<script src='/assets/js/video-2.js'></script>



<script src="/assets/js/videojs-titleoverlay.js"></script>

<script src="/assets/video-js/hotkeys.min.js"></script>
<script src="/assets/video-js/videojs-landscape-fullscreen.min.js"></script>





<script>
  videojs.options.flash.swf = "/assets/video-js/video-js.swf";
  </script>


<script type="text/javascript">
  // save a reference to the video element


  var existe_vide_html5 = document.querySelector('video') !== null;

  if(existe_vide_html5){
    video1 = document.querySelector('video'),
  // save a reference to the video.js player for that element
  player1 = videojs(video1);
  // initialize the plugin with some custom options:
  player1.landscapeFullscreen();


 


  player1.on('dblclick', function() {
  if (player1.isFullscreen()) {
    
    player1.exitFullscreen();
    
  } else {
    player1.requestFullscreen();
  
  }
});




var titulo = $("#titulo").text();

var options = {

        title: titulo, 
        floatPosition: 'left', //Float left or right (to prevent big play button overlap) (default left)
        margin: '10px', //Margin from top/left/right (default 10px)
        fontSize: '1.3em', //font size (default 1em)
        debug: true, //true or false. Will output debug messages for title status
      


};



player1.titleoverlay(options);


  // Declaramos las variables respectivas que usaremos
  var $window = $(window);
var $cont_vid = $('.contenedor_video');
var $video = $('.video-post');

var $video2= $('#my_video_1');

console.log("holis 1");

// Con el método .outerHeight(); obtenemos la altura externa de la clase .video
var alturaVideo = $video.outerHeight();

// Dejamos oculto por default el bótón para cerrar el video flotante
var $btn_cerrar = $('.btn_cerrar').hide();

player1.on("waiting", function () {

  console.log("esperando");
  document.getElementById("my_video_1_html5_api").style.opacity = "0.5";

  document.getElementById("cargando").style.opacity = "1";
document.getElementById("cargando").style.visibility = "visible";
document.getElementById("cargando").style.display = "block";

var error= player1.error();
        var estado= player1.ready();

        var readyState = player1.readyState();

        console.log("Esperando el VIDEO: el error es " + error + " el estado es " + estado + "el ready state es " + readyState);






  
  
  
  

});

player1.on("loadstart", function () {

console.log("comendo a cargar");






});

player1.on("abort", function () {

console.log("Abort!!!!");






});

player1.on("emptied", function () {

console.log("Emptied!!!!");






});



player1.on("stalled", function () {

console.log("Estancado!!!!");






});








player1.on("playing", function () {

console.log("reproduciendo");
document.getElementById("my_video_1_html5_api").style.opacity = "1";

document.getElementById("cargando").style.opacity = "0";
document.getElementById("cargando").style.visibility = "hidden";
document.getElementById("cargando").style.display = "none";

var error= player1.error();
        var estado= player1.ready();

        var readyState = player1.readyState();

        console.log("REPRODUCCION DE VIDEO: el error es " + error + " el estado es " + estado + "el ready state es " + readyState);





});

player1.on("canplay", function () {

console.log("puede reproducirse");


document.getElementById("cargando").style.opacity = "0";
document.getElementById("cargando").style.visibility = "hidden";
document.getElementById("cargando").style.display = "none";





});





player1.on('touchstart', function () {



    document.getElementById("my_video_1-title-overlay-container").style.opacity = "1";
			document.getElementById("my_video_1-title-overlay-container").style.visibility = "visible";
			document.getElementById("my_video_1-title-overlay-container").style.transition = "opacity 0.5s linear 0s";

  

      if(!player1.paused()){

        inactivityTimeout = setTimeout(function() {

          document.getElementById("my_video_1-title-overlay-container").style.opacity = "0";
          document.getElementById("my_video_1-title-overlay-container").style.visibility = "hidden";
          document.getElementById("my_video_1-title-overlay-container").style.transition = "visibility 0s 0.5s, opacity 0.5s linear";

          }, 2300);

      }

       

      });


player1.on('mousemove', function () {



document.getElementById("my_video_1-title-overlay-container").style.opacity = "1";
  document.getElementById("my_video_1-title-overlay-container").style.visibility = "visible";
  document.getElementById("my_video_1-title-overlay-container").style.transition = "opacity 0.5s linear 0s";



  if(!player1.paused()){

    inactivityTimeout = setTimeout(function() {

      document.getElementById("my_video_1-title-overlay-container").style.opacity = "0";
      document.getElementById("my_video_1-title-overlay-container").style.visibility = "hidden";
      document.getElementById("my_video_1-title-overlay-container").style.transition = "visibility 0s 0.5s, opacity 0.5s linear";

      }, 2300);

  }

   

  });


   













player1.on("pause", function () {

  document.getElementById("my_video_1_html5_api").style.opacity = "0.5";


  
  
  
  

      });

      player1.on("play", function () {
        document.getElementById("my_video_1_html5_api").style.opacity = "1";

     

        console.log("hola");

        

      var error= player1.error();
        var estado= player1.ready();

        var readyState = player1.readyState();

        console.log("PLAY DE VIDEO: el error es " + error + " el estado es " + estado + "el ready state es " + readyState);

          // Por defecto limpiamos la clase videoflotante2 que establece la posicion inicial del video flotante
          $('.video-post').removeClass('videoflotante2');

          // Al desplazarnos hacia abajo o hacia arriba después de iniciar la reproducción del video, se muestra el video flotante o sticky
          $window.on('scroll',  function() {

            // Con el método .scrollTop(); obtenemosla posición actual de la barra de desplazamiento de la ventana '$window'
            var scrollTopWin = $window.scrollTop();

            // Con el método .offset(); obtenemos  las coordenadas de desplazamiento de un elemento
            var videoBottom= alturaVideo;
            //var scroll = $(window).scrollTop();
            
            // Si la posición actual de la ventana es > que el desplazamiento actual (alturaVideo + $cont_vid.offset().top;) realizamos el lanzado 
            // del video flotante o sticky o si no que siga oculto 
            if (scrollTopWin > videoBottom) {
              $cont_vid.height(alturaVideo);
              $video.addClass('videoflotante');
              $video2.addClass('video-js2');
           
             
             
             
              $btn_cerrar.show();         
            } else {
              $cont_vid.height('auto');
              $video.removeClass('videoflotante');
              $video2.removeClass('video-js2');

           
             
              $btn_cerrar.hide();
            }

          });
   
      
      });


    player1.hotkeys({
      enableVolumeScroll: false,
	seekStep: 5,
	alwaysCaptureHotkeys: true
});


var error= player1.error();
  var estado= player1.ready();

  var readyState = player1.readyState();

  console.log("INICIO DE VIDEO: el error es " + error + " el estado es " + estado + "el ready state es " + readyState);

   

  }

  

      
  </script>
    



    



     <script  src="/assets/js/bootstrap.min.js"></script>
     <script  src="/assets/js/malware.js"></script>
     <script  src="/assets/js/footer-post.js"></script>
     <script  src="/assets/js/WebModule.js"></script>
      <script>
        WebModule.verify  = true;
        WebModule.verbose = true;
        WebModule.publish = true;
        </script>
        <script  src="/assets/js/ES.js"></script>
        <script  src="/assets/js/WebGLDetector.js"></script>
        <script  src="/assets/js/UserAgent.js"></script>

        <script>

          function mostrar(){

          document.getElementById("loader").style.display = "block";

          }

         




          var ua = new UserAgent();

          if(ua.PC){
           
            
            document.getElementById("footer-post").style.display = "block";
           
        
            
         

            var filtros = document.getElementById("filtros");
            if(filtros){
              document.getElementById("filtros").style.display = "none";

            }
           
            document.getElementById("descargar_app").style.display = "none";
            
           

      
          }

          if(ua.MOBILE || ua.iPad){
            
            
         
            var filtros = document.getElementById("filtros");
            if(filtros){
              document.getElementById("filtros").style.display = "block";

            }
            document.getElementById("instagram_whatsapp2").style.display = "block";
            document.getElementById("instagram_whatsapp1").style.display = "block";
         
            document.getElementById("descargar_app").style.display = "block";

       
      
          }

          
      


         

          if(ua.WEB_VIEW){
           
           
           
            document.getElementById("instagram_whatsapp2").style.display = "block";
            document.getElementById("instagram_whatsapp1").style.display = "block";
          
            var filtros = document.getElementById("filtros");
            if(filtros){
              document.getElementById("filtros").style.display = "block";

            }
            
            var facebook_post = document.getElementById("footer-facebook-post");
            document.getElementById("descargar_app").style.display = "none";

            
         
            
            var comment_facebook2 = document.getElementById("comentario-gif");
            if(comment_facebook2){

            document.getElementById("fb-comments").style.display = "none";
            document.getElementById("gif").style.display = "none";
            document.getElementById("comentario-gif").style.display = "none";

            }

     

            if(facebook_post)
            {
              document.getElementById("footer-facebook-post").style.display = "none";
            }
     
  
  

   

           

          
     
           
          }else{
            
           
            var compartir = document.getElementById("descargas3");
            

            if(compartir)
            {

              document.getElementById("descargas3").style.display = "block";

            }

    
            
            
            
            
          }

        
          
          
          </script>
















<script>





function loadAPI() {
  var js = document.createElement('script');
  js.src = 'https://connect.facebook.net/es_ES/sdk.js#xfbml=1&version=v4.0&appId=491895904626108&autoLogAppEvents=1';
  document.body.appendChild(js);

  window.fbAsyncInit = function(){
    //FB.init({ status: false, cookie: true, xfbml: true });
    FB.Event.subscribe("xfbml.render", function(){
      document.getElementById("gif").style.display = "none";
      document.getElementById("comentario-gif").style.display = "none";
    });
};

  
}
window.onscroll = function () {
  var facebook_comments = document.getElementById("fb-comments");
  if(facebook_comments)
  {
    var rect = document.getElementById('fb-comments').getBoundingClientRect();
      if (rect.top < window.innerHeight) {
          loadAPI();
          window.onscroll = null;
      } 
  
  }

}



</script>



<script>



jQuery(function($) {

  $('.btn_cerrar').on('click', function() {
    $('.video-post').addClass('videoflotante2');  
    $btn_cerrar.hide();  
    $('video').trigger('pause');
  });  

});

jQuery(function($) {
    $('#my_video_1').on('playing', function () {      
      $('.video-post').removeClass('videoflotante2');           
    });
}); 


   var erotica = document.getElementById("myModal-erotic");
            if(erotica){

              swal({
                title: "!ALTO AHÍ PUERCO¡",
                text: "Estas por ver un contenido sólo para +18. ¿Tienes la edad para ver esto?",
                type: "warning",
                showCancelButton: true,
                confirmButtonColor: "#28a745",
                confirmButtonText: "Si, tengo 18 años",
                cancelButtonText: "No, sácame de aquí",
                closeOnConfirm: false,
                closeOnCancel: false
            },
            function(isConfirm){
                if (isConfirm) {
                  swal("Espero que no me hayas mentido", 'Disfrútalo n_n', "success");
                    

                } else {
                    document.location.href="/";
                }
            });
              

            }

            $('#anio').on('change', function() {
              mostrar();

            var valor= this.value;
           
            document.location.href="https://gotoplay.netlify.com"+valor;

            });

            $('#genero_peliculas').on('change', function() {
              mostrar();

              var valor= this.value;

              document.location.href="https://gotoplay.netlify.com"+valor;


            });

            $('#genero_series').on('change', function() {
              mostrar();

              var valor= this.value;

              document.location.href="https://gotoplay.netlify.com"+valor;


            });

            window.onscroll = function () {
            var facebook_comments = document.getElementById("fb-comments");
            if(facebook_comments)
            {
              var rect = document.getElementById('fb-comments').getBoundingClientRect();
                if (rect.top < window.innerHeight) {
                    loadAPI();
                    window.onscroll = null;
                } 
            
            }

          }




</script>




<script type="application/ld+json">
  {
   "@context" : "http://schema.org",
   "@type" : "Organization",
   "name" : "GotoPlay",
   "url" : "https://gotoplay.netlify.com",
   "address": "Buenavista y sexta A norte",
   "sameAs": [
   "https://twitter.com/imbriitneysam",
     "https://www.facebook.com/GotoPlay",
     "https://www.instagram.com/GotoPlay/?hl=en"
    ]
   
  }
  </script>














     
     

  



