<footer>
     <div id="footer-index" style="display:none" align="center" style="color:white;" class="disable-select">
    <span style="color:white;font-weight: bold" >BreakTimeTV</span> <span style="color:white;"> No almacena ningún vídeo, estos son alojados en sitios de terceros, nosotros solo recopilamos los mejores sin publicidad - Hay {{ site.posts | size }} contenido disponible</span>
    <p> BreakTimeTV © - <script>document.write(new Date().getFullYear());</script> <svg class="love"><use xlink:href="#icon-heart"></use></svg>  </p>
    <span style="color:white;">Desarrollado por: </span><span style="color:white; font-weight: bold"> Un Breaknamita </span>

    <div align="center" style="color:white;">
      <a href="{{ site.baseurl}}/politica-privacidad"> Política de Privacidad </a>
      |
      <a href="{{ site.baseurl}}/aviso-legal"> Aviso Legal </a>
      |
      <a href="{{ site.baseurl}}/terminos-servicios"> Términos de servicios </a>


      </div>
      <div align="center"  id="footer-facebook-index" style="color:white;    padding-top: 10px;">
        <a  href="https://www.instagram.com/_breaktimetv/"  target="_blank" title="Instagram">
          <svg><use xlink:href="#icon-instagram"></use></svg>
        </a>
        <a href="//www.dmca.com/Protection/Status.aspx?ID=9f502a51-e127-4c1f-a527-3300ace55a3c" title="DMCA.com Protection Status" class="dmca-badge"> <img src ="https://images.dmca.com/Badges/dmca-badge-w100-5x1-09.png?ID=9f502a51-e127-4c1f-a527-3300ace55a3c"  alt="DMCA.com Protection Status" /></a>  <script src="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"> </script>
      </div>
    

  </div>


  
  <script>
    var prevScrollpos = window.pageYOffset;
    window.onscroll = function() {
    var currentScrollPos = window.pageYOffset;
      if (prevScrollpos > currentScrollPos) {
        document.getElementById("header-fixed-1").style.top = "0";
      } else {
        document.getElementById("header-fixed-1").style.top = "-50px";
      }
      prevScrollpos = currentScrollPos;
    }
    </script>

<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
<script src="/assets/js/jquery-3.4.1.min.js"></script>
<script  src="/assets/js/sweetalert.min.js"></script>



<!-- Google CDN Hosted jQuery  -->
 <script  src="/assets/js/jquery-latest.min.js"></script>
  <script  src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
  

  	






      



      <script  src="/assets/js/bootstrap.min.js"></script>
      <script  src="/assets/js/footer.js"></script>
      <script  src="/assets/js/WebModule.js"></script>
      <script>
        WebModule.verify  = true;
        WebModule.verbose = true;
        WebModule.publish = true;
        </script>
        <script  src="/assets/js/ES.js"></script>
  
        <script  src="/assets/js/WebGLDetector.js"></script>
        <script  src="/assets/js/UserAgent.js"></script>

       




         
          

        <script>
     


          var ua = new UserAgent();

          $( document ).ready(function() {


            if(ua.PC){

             
            
            document.getElementById("contenedor-pc").style.display = "block";
            document.getElementById("video-reproduccion").style.display = "block";
          

            
            document.getElementById("footer-index").style.display = "block";
           

         
        
          
           
            

      
          }

          if(ua.MOBILE || ua.iPad){

            document.getElementById("contenedor-movil").style.display = "block";
         
            document.getElementById("descargar_app").style.display = "block";
   
           
           

          }

          


          if(ua.WEB_VIEW){
           
          
 
         
            document.getElementById("footer-facebook-index").style.display = "none";
            document.getElementById("descargar_app").style.display = "none";




          }

     
           });

 



  


        
                       
          
          
          
          </script>


<script>

$(document).ready(function() {
    console.log( "ready!" );
    document.getElementById("loader").style.display = "none";
});


function mostrar(){

  document.getElementById("loader").style.display = "table";

}

function openNav() {
  document.getElementById("myNav").style.display = "block";
  $("#myBody").removeClass("yes-scroll");
  $("#myBody").addClass("no-scroll");
}

function closeNav() {
  document.getElementById("myNav").style.display = "none";
  $("#myBody").removeClass("no-scroll");
  $("#myBody").addClass("yes-scroll");
}

$('#anio').on('change', function() {
  mostrar();

  var valor= this.value;

  document.location.href="https://gotoplay.netlify.com"+valor;


});






  
</script>


<script type="application/ld+json">
  {
   "@context" : "http://schema.org",
   "@type" : "Organization",
   "name" : "BreakTimeTv",
   "url" : "https://gotoplay.netlify.com",
   "address": "Buenavista y sexta A norte",
   "sameAs": [
   "https://twitter.com/imbriitneysam",
     "https://www.facebook.com/breaktimetv",
     "https://www.instagram.com/_breaktimetv/?hl=en"
    ]
   
  }

  
  </script>



         
      
          
 


      
      

     
 

 

  








