<header class="bar-header" id="header-fixed-1" >

    <div class="container2">
        <div class="logo">
                <a  onclick="mostrar()" href="{{ site.baseurl }}/">
                    <img alt="BreakTimeTv" style="    width: 120px;padding-bottom: 5px;padding-left: 5px;" src="{{site.baseurl}}/break-min.png">
                 </a>
            </div>
        <div class="navbar" id="menucito">
        

        
        <ul id="nav-lists">
         
                <li><a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/category/peliculas"> <i class='fas fa-film' style="    color: #ff002e;"></i> Peliculas</a></li>
                <li><a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/category/series"> <i class='fas fa-video' style="    color: #ff002e;"></i> Series</a></li>
                <li><a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/category/netflix"> <img style="width: 10px;padding-bottom: 3px;" src="https://res.cloudinary.com/dmsdzouoo/image/upload/v1568868938/icon-netflix_druij8.png" alt="Netflix"> Netflix</a></li>
                <li><a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/videos-ts-screener"> <i class='fas fa-star' style="    color: #ff002e;"></i> Estrenos</a></li>
                <li><a onclick="mostrar()" href="https://www.paypal.me/fernando3030/1"> <i class='fab fa-paypal' style="    color: #ff002e;"></i> Donación</a></li>
        </ul>
        
        </div>

            <a display="none" id="descargar_app" style="display:none;line-height: 45px;cursor: pointer;margin: 0 10px 0 0;" href="https://play.app.goo.gl/?link=https://play.google.com/store/apps/details?id=app.breaktimetv">
                <img alt="Descargar app breaktimetv" style="width: 40px;padding-top: 5px;" src="{{site.baseurl}}/descargar.png">
             </a>

        <a id="search" class="dosearch">
                <svg class="icon-search"><use xlink:href="#icon-search"></use></svg>
            </a>
    


    </div>

    <ul class="lightrope">
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
            <li></li>
        </ul>
</header>


{% include search.html %}






