<div class="search-wrapper" style="padding-top:5px">
    <div  style="text-align:center; padding-bottom: 10px">
            <a  onclick="mostrar()" href="{{ site.baseurl }}/">
               <img style="width: 110px;" alt="BreakTimeTv" src="{{site.baseurl}}/break-min.png">
            </a>
        </div>
   
<div class="search-form">

        <div class="row"> 
    
                <div class="col-lg-3"></div>
                
                  <div class="col-lg-6" style="  padding-right: 0;">
                      
                        <svg class="icon-remove-sign" id="cerrar_busqueda"><use xlink:href="#atras"></use></svg> 
                        
                        <input type="text" id="input_busqueda" class="search-field" placeholder="Escribe tu película o serie"> 
            
                        <svg style="display:none;" class="icon-remove-sign2" id="limpiar_busqueda"><use xlink:href="#icon-close"></use></svg>
                    
                    </div>
                        
                  <div class="col-lg-3"></div>
            
            </div>


 
    <ul id="lista" class="search-results search-list"></ul>
</div>
</div>