<div class="search-wrapper" style="padding-top:5px">
        <div  style="text-align:center; padding-bottom: 10px">
                <a  onclick="mostrar()" href="{{ site.baseurl }}/">
                   <img style="width: 110px;" alt="GotoPlay" src="{{site.baseurl}}/break-min-navidad.png">
                </a>
            </div>
       
    <div class="search-form">
        <input type="text" class="search-field" placeholder="Escribe tu película o serie">
        <svg class="icon-remove-sign" id="cerrar_busqueda"><use xlink:href="#icon-close"></use></svg>
        <ul class="search-results search-list"></ul>
    </div>
</div>
