---
comentarios: "si"
---

<!DOCTYPE html>
<html lang="es" itemscope itemtype="http://schema.org/WebPage">
		{% include head-post.html %}


		{% assign mantenimiento = 'no' %}
	
		
		<body id="myBody" class="main-page has-push-menu yes-scroll">
			<!-- partial:index.partial.html -->

				<div id="fb-root"></div>
				<div id="myNav" class="overlay_fullscreen">
						<a href="#" class="closebtn2" onclick="closeNav()">&times;</a>
						<div class="overlay-content">
						<p style="color:#ff002e; font-size:25px; text-align:left;    padding-left: 15px;font-weight:bold">Filtrar por idioma:</p>
						<ul style="display: -webkit-flex;display: flex;justify-content: center;padding-top: 15px;">
										<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/latino"><img style="    width: 50px;" src="/latino.svg" alt="mx"></a></li>
										<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/castellano"><img style="    width: 50px;" src="/castellano.svg" alt="es"></a></li>
										<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/subtitulado"><img style="    width: 50px;" src="/subti.svg" alt="us"></a></li>
						</ul>

						<p style="color:#ff002e; font-size:25px; text-align:left;    padding-left: 15px;font-weight:bold;padding: 10px;">Filtrar por categoria:</p>

						<div>
								<div class="row" style="    padding-bottom: 10px;">
										<div class="col-4 col-md-4 col-lg-4 col-xs-4">
														<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Terror">Terror</a>
											
													 

										</div>

										<div class="col-4 col-md-4 col-lg-4 col-xs-4">
														<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Romance">Romance</a>

												</div>

												<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Drama">Drama</a>

														</div>

								</div>

								<div class="row" style="    padding-bottom: 10px;">
												<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Ciencia-Ficcion">C. Ficción</a>
															

												</div>

												<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Accion">Acción</a>
															 

														</div>

														<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																		<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Fantasia">Fantasía</a>

																</div>

										</div>


										<div class="row" style="    padding-bottom: 10px;">
														<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																 
					 
							
																<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Animado">Animado</a>
															
										
														</div>

														<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																		<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Comedia">Comedia</a>
																	
																</div>

																<div class="col-4 col-md-4 col-lg-4 col-xs-4">
																			 
																				<a onclick="mostrar()"  href="{{ site.url }}{{ site.baseurl }}/todos/Erotico">Erótica</a>

																		</div>

												</div>


						</div>

						<p style="color:#ff002e; font-size:25px; text-align:left;    padding-left: 15px;font-weight:bold;padding: 10px;">Filtrar por año:</p>
										<div class="row">
														<div class="form-group" style="padding: 0px 25px 15px 25px;">
															
																<select name="anio" id="anio" class="form-control">
																		<option disabled selected value="">Seleccione un año</option>
																		<option value="/2019">2019</option>
																		<option value="/2018">2018</option>
																		<option value="/2017">2017</option>
																		<option value="/2016">2016</option>
																		<option value="/2015">2015</option>
																		<option value="/2014">2014</option>
																		<option value="/2013">2013</option>
																		<option value="/2012">2012</option>
																		<option value="/2011">2011</option>
																		<option value="/2010">2010</option>
																		<option value="/2009">2009</option>
																		<option value="/2008">2008</option>
																		<option value="/2007">2007</option>
																		<option value="/2006">2006</option>
																		<option value="/2005">2005</option>
																		<option value="/2004">2004</option>
																		<option value="/2003">2003</option>
																		<option value="/2002">2002</option>
																		<option value="/2001">2001</option>
																		<option value="/2000">2000</option>
																		<option value="/1999">1999</option>
																		<option value="/1998">1998</option>
																		<option value="/1997">1997</option>
																		<option value="/1996">1996</option>
																		<option value="/1995">1995</option>
																		<option value="/1994">1994</option>
																		<option value="/1993">1993</option>
																		<option value="/1992">1992</option>
																		<option value="/1991">1991</option>
																		<option value="/1990">1990</option>
																		<option value="/1989">1989</option>
																		<option value="/1988">1988</option>
																		<option value="/1987">1987</option>
																		<option value="/1986">1986</option>
																		<option value="/1985">1985</option>
																		<option value="/1984">1984</option>
																		<option value="/1983">1983</option>
																		<option value="/1982">1982</option>
																		<option value="/1981">1981</option>
																		<option value="/1980">1980</option>
																		<option value="/1979">1979</option>
																		<option value="/1978">1978</option>
																		<option value="/1977">1977</option>
																		<option value="/1976">1976</option>
																		<option value="/1975">1975</option>
																		<option value="/1974">1974</option>
																		<option value="/1973">1973</option>
																		<option value="/1972">1972</option>
																		<option value="/1971">1971</option>
																	
																</select>
														</div>
													 

												
										</div>

						</div>
					</div>

				<input id="url" name="url" type="hidden" value="{{ site.url }}{{ site.baseurl }}{{page.url}}">
				<div id="loader" class="loader" style="display:none;"></div>
			
				{% include search.html %}
			
								{% include svg-icons.html %}
								<div class="header_pc" id="pc">  {% include header.html %}</div>
							
      
					{% if mantenimiento =='no' %}
				   
            <section class="content">
             
               
                <main class="home"   id="post" role="main" itemprop="mainContentOfPage" itemscope="itemscope" itemtype="http://schema.org/Blog">
				
						
					<article role="article" class="post-content" itemprop="articleBody">
						


												<div class="modal fade" id="myModal" role="dialog">
													<div class="modal-dialog">
													
														<!-- Modal content-->
														<div class="modal-content">
															<div class="modal-header">
																<button type="button" class="close" data-dismiss="modal">&times;</button>
																<h4 class="modal-title" style="font-size: 24px;">Reportar video</h4>
															</div>
															<div class="modal-body">
																<form name="gform" id="gform" enctype="text/plain" action="https://docs.google.com/forms/d/e/1FAIpQLScI4h-WSg3_zKc2yhe5ONyYf2-K4YgmDjDo2gB3ph1bPj213A/formResponse?" target="hidden_iframe" onsubmit="submitted=true;">
																	<div class="form-group">
																		<label for="usr">Pelicula a reportarse: (*)</label>
																		<input type="text" readonly="readonly"  class="form-control" name="entry.160335406" id="entry.160335406" value="{{page.title}}">
																	</div>
															
																<div class="form-group">
																		<label for="usr">Seleccione el motivo de tu reporte: (*)</label>
																		<select name="entry.1946056948" id="entry.1946056948" class="form-control">
																				<option value="Video caido">Video caido</option>
																		<option value="No se visualiza la pelicula">No se visualiza la pelicula</option>
																		
																		<option value="Link de descargas caido">Link de descargas caido</option>
																		<option value="Solicitar mejor calidad">Solicito mejor calidad</option>
																	</select>
																</div>
																<div class="form-group">
																		<label for="usr">Si desea, proporcione más información acerca del problema con este video: (Opcional)</label>
																	<textarea style="resize: none;" placeholder="Escriba más información" class="form-control rounded-0" name="entry.257663063" id="entry.257663063"  rows="3"></textarea>	
															 </div>
																	 <div class="form-group" align="center">
																		 <input type="submit" value="Enviar" class="btn btn-danger">
																	</div>
																</form>
																<iframe name="hidden_iframe" id="hidden_iframe" style="display:none;" onload="if(submitted) {}"></iframe>
															</div>
											
														</div>
														
													</div>

												</div>
	

								
												
												<div id="grid" class="row">
										
													 <div class="col-md-12 col-xs-12 col-lg-9" style="padding:0;">
					
												   
												
					
														
					
													 <div class="row">
														   
					
															
															<div class="col-md-12 col-xs-12 col-lg-12" style="padding: 0;">

																
					
					
																<div class="panel with-nav-tabs panel-primary" style="margin-top:20px">
																		<div class="panel-heading">
																				<ul class="nav nav-tabs">
																						{% assign counter = 0 %}

																						{% for item in page.reproductores %}
																														{% assign counter=counter | plus:1 %}

																														{% if counter==1 %}
																														<li class="active"><a id="opcion{{counter}}" href="#click{{counter}}" data-toggle="tab"><i class="fas fa-play" style="padding-right: 5px; padding-top: 3px;color:#b50121"></i>Reproductor #{{counter}} </a></li>
																														{%else%}

																														<li><a id="opcion{{counter}}" href="#click{{counter}}" data-toggle="tab"><i class="fas fa-play" style="padding-right: 5px; padding-top: 3px;color:#b50121"></i>Reproductor #{{counter}} </a></li>

																														{%endif%}
																														
																														
																												
																												
																						{% endfor %}
																				
																						
																				</ul>
																</div>
																
																	<div class="panel-body">
																		<div class="tab-content">
					
																			{% assign counter = 0 %}
																			{% for item in page.reproductores %}
																							{% assign counter=counter | plus:1 %}

																				
					
																								{% if counter==1 %}

																								{% if page.reproductor=='fembed' %}


																								<div class="tab-pane fade in active" id="click{{counter}}">
																										<div class="iframe-loading">
																									    <iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" scrolling="no" style="border: none;" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-same-origin allow-scripts" width="100%" height="500px"></iframe>
			                                              </div>
																							   </div>

																								{% else %}

																								{% if page.reproductor=='rapidvideo' %}

																		

																								<div class="tab-pane fade in active" id="click{{counter}}">
																										<div class="iframe-loading">
																								     	<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-same-origin allow-scripts" width="100%" height="500px"></iframe>
																								    </div>
																							   </div>

																								{% else %}

																								{% if page.reproductor=='onlystream' %}

															

																								<div class="tab-pane fade in active" id="click{{counter}}">
																										<div class="iframe-loading">
																								     	<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-scripts" width="100%" height="500px"></iframe>
																								    </div>
																							   </div>

																								{% else %}


																			

																								<div class="tab-pane fade in active" id="click{{counter}}">
																										<div class="iframe-loading">
																									<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}"  width="100%" height="500px"></iframe>
																								</div>
																							   </div>


																								{% endif %}
																								{% endif %}
																								{% endif %}


																					
																								{%else%}


																								{% if page.reproductor=='fembed' %}

															

																									<div class="tab-pane fade" id="click{{counter}}">
																											<div class="iframe-loading">
																									<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-same-origin allow-scripts" width="100%" height="500px"></iframe>
																								</div>
																							   </div>

																								{% else %}

																								{% if page.reproductor=='rapidvideo' %}

																		

																								<div class="tab-pane fade" id="click{{counter}}">
																										<div class="iframe-loading">
																									<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-same-origin allow-scripts" width="100%" height="500px"></iframe>
																								</div>
																								 </div>

																								 	{% else %}

																								 
																								 {% if page.reproductor=='onlystream' %}


																								<div class="tab-pane fade in active" id="click{{counter}}">
																										<div class="iframe-loading">
																								     	<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" scrolling="no" frameborder="0" allowfullscreen="" src="{{ item }}" sandbox="allow-scripts" width="100%" height="500px"></iframe>
																								    </div>
																							   </div>

																							
																								{% else %}
																		

																								<div class="tab-pane fade" id="click{{counter}}">
																										<div class="iframe-loading">
																									<iframe onload="$('.iframe-loading').css('background-image', 'none');" id="iframe{{counter}}" style="border: none;" frameborder="0" scrolling="no" allowfullscreen="" src="{{ item }}"  width="100%" height="500px"></iframe>
																								</div>
																							   </div>



																								{% endif %}
																								{% endif %}
																								{% endif %}
					
																			
					
																								{%endif%}
																								<script> 

																									$('#opcion{{counter}}').click(function(){
																										$('#iframe{{counter}}').attr('src', function (i, val) {return val;});
																									
																										
																									});

																									</script>
																								
					
																			{% endfor %}



																			{% assign counter = 0 %}
																			{% for item in page.reproductores-google %}
																							{% assign counter=counter | plus:1 %}
					
																								{% if counter==1 %}
																								<div id="{{counter}}google">

																										<div class="contenedor_video">
																												<div class="video-post">
 
																														<!-- Botón para cerrar el video flotante -->
																														<div class="btn_cerrar" style="display:none"> x </div>

																														<video id="my_video_1" class="video-js vjs-default-skin" data-setup ='{}'
																																controls preload="none" poster='{{ page.image_banner }}'
																																data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
																															<source src="{{ item }}" type="video/mp4">
																																{% if page.subtitulo == 'si' %}
																																	<track kind='subtitles' src='{{ site.url }}{{ site.baseurl }}/assets/subtitulos/{{page.archivo}}' srclang='es' label='Spanish' default />
																																	
																																	{%endif%}
																											
									
																																</video>
																										

																			

																										</div>
																									 
																									</div>

																									
																										
						
					
																								</div>
																								{%else%}
					
																								<div class="tab-pane fade" id="{{counter}}google">

																										<div class="contenedor_video">
																												<div class="video-post">
 
																														<!-- Botón para cerrar el video flotante -->
																														<div class="btn_cerrar" style="display:none"> x </div>


																														<video id="my_video_1" class="video-js vjs-default-skin" data-setup ='{}'
																														controls preload="none" poster='{{ page.image_banner }}'
																														data-setup='{ "aspectRatio":"640:267", "playbackRates": [1, 1.5, 2] }'>
																													<source src="{{ item }}" type="video/mp4">
																														{% if page.subtitulo == 'si' %}
																															<track kind='subtitles' src='{{ site.url }}{{ site.baseurl }}/assets/subtitulos/{{page.archivo}}' srclang='es' label='Spanish' default />
																															
																															{%endif%}
																									
							
																														</video>

																															</div>
																													</div>

																											
																								
					
																							
																										
					
																
																											
																									
																								</div>
					
																								{%endif%}

																							
					
																			{% endfor %}
																			
																		</div>
																	</div>
																</div>
					
																
																
					
									
					
															</div>
					
														 
					
															
					
														   
														</div>
														<hr>
					
														 <div class="row" style="padding-bottom: 15px;">
																<div class="col-md-12 col-xs-12 col-lg-12 disable-select" align="left">
				
																		<h1 class="top_h2_1" style="padding-bottom: 15px;font-size: 20px;" id="titulo" itemprop="name">{{ page.title }} - {{ page.idioma }} - {{ page.calidad }} </h1>
																				
								
																	</div>
															<div class="col-md-1 col-xs-0 col-lg-1">
					
															</div>
					
															
															<div class="col-md-10 col-xs-12 col-lg-10">
					
																<div class="row">
																	<div class="col-md-3 col-xs-3 col-lg-3" align="center">
																		{% if page.prev=='' %}
																		  <a style="display:none;" href="#" class="previous round">&#8249;</a>
																		{%else%}
																		  <a onclick="mostrar()" title="Capitulo Anterior" href="{{ site.baseurl}}/{{page.url_serie_padre}}/{{page.prev}}" class="previous round">&#8249;</a>
																		{%endif%}
					
																	</div>
					
																	
																	<div class="col-md-6 col-xs-6 col-lg-6" align="center" style="padding-top:8px;">
																		<a onclick="mostrar()" title="Listado de Capitulos" class="ver_capitulos" href="{{ site.baseurl}}/{{page.url_serie_padre}}"><i class="fas fa-align-justify"></i> <span class="quitar"> Listado de Capítulos </span> </a>
					
					
																	
																	</div>
					
																	<div class="col-md-3 col-xs-3 col-lg-3" align="center">
																		{% if page.proximo=='' %}
																		   <a style="display:none;"  href="#" class="next round" title="Capitulo Siguiente">&#8250;</a>
																		  
																		{%else%}
																			<a onclick="mostrar()"  title="Capitulo siguiente" href="{{ site.baseurl}}/{{page.url_serie_padre}}/{{page.proximo}}" class="next round">&#8250;</a>
																		 
																		{%endif%}
																		
					
																	</div>
					
																</div>
					
					
															
															</div>
					
															 <div class="col-md-1 col-xs-0 col-lg-1">
					
															</div>
					
														</div>

														<hr>

														<div class="descargas5" id="descargas5" >

															<div class="row">
																			<div class="col-md-3 col-xs-3 col-lg-3 col-3" style="text-align: center;">

																				<a id="instagram_whatsapp1" style="display:none;float: right;"  href="instagram://user?username=GotoPlay" title="Seguirnos en instagram" class="Button texto_post"><i style="font-size: 20px;padding-top: 10px;" class="fab fa-instagram"></i> </a> 
																				
																				
																			</div>
															

																    	<div class="col-md-3 col-xs-3 col-lg-3 col-3 disable-select" align="center" >
																			
																			<a title="¿Problemas con el video? Reportar aqui" data-toggle="modal" data-target="#myModal" class="Button"><i style="font-size: 20px;padding-top: 10px;" class="fas fa-exclamation-triangle texto_post"></i> <span class="quitar"> Reportar video </span></a> 
														
									
																		 </div>

																		 {% if page.reproductor == 'google' %}

																		 <div class="col-md-3 col-xs-3 col-lg-3 col-3 disable-select" align="center" >
																			
																				<a id="refrescar" title="¿El video no cargo bien? Refrescar aqui" class="Button"><i style="font-size: 20px;padding-top: 10px;" class="fas fa-sync texto_post"></i> <span class="quitar"> Refrescar video </span></a>
																				
										

																						<script>

																								$('#refrescar').click(function(){
																									window.location.reload();
																								
																							});
																					
																					</script>
																			 </div>


																		 {% else %}

																		 <div class="col-md-3 col-xs-3 col-lg-3 col-3 disable-select" align="center" >
																			
																				<a id="refrescar" title="¿El video no cargo bien? Refrescar aqui" class="Button"><i style="font-size: 20px;padding-top: 10px;" class="fas fa-sync texto_post"></i> <span class="quitar"> Refrescar video </span></a> 
										
																			
																				<script>

                                           $('#refrescar').click(function(){
																							var iframe1 = document.getElementById("iframe1");
																							if(iframe1)
																							{
																								$('#iframe1').attr('src', function (i, val) {return val;});

																							}

																							var iframe2 = document.getElementById("iframe2");
																							if(iframe2)
																							{
																								$('#iframe2').attr('src', function (i, val) {return val;});

																							}

																							var iframe3 = document.getElementById("iframe3");
																							if(iframe3)
																							{
																								$('#iframe3').attr('src', function (i, val) {return val;});

																							}

																							var iframe4 = document.getElementById("iframe4");
																							if(iframe4)
																							{
																								$('#iframe4').attr('src', function (i, val) {return val;});

																							}

																							var iframe5 = document.getElementById("iframe5");
																							if(iframe5)
																							{
																								$('#iframe5').attr('src', function (i, val) {return val;});

																							}

																							var iframe6 = document.getElementById("iframe6");
																							if(iframe6)
																							{
																								$('#iframe6').attr('src', function (i, val) {return val;});

																							}

																							
																			
																						
																					});
																			
																			</script>
																			 </div>


																		 {% endif %}

																		 <div class="col-md-3 col-xs-3 col-lg-3 col-3" style="text-align: center;">

																			<a id="instagram_whatsapp2" style="display:none;float: left;" href="https://api.whatsapp.com/send?text=https://gotoplay.tk{{ page.url }}" data-action="share/whatsapp/share" title="Compartir en whatsapp" class="Button texto_post"><i style="font-size: 20px;padding-top: 10px;" class="fab fa-whatsapp"></i> </a> 
																				
																			</div>


															</div>
					
					
														</div>


														<hr>
														
														<img id="gif" alt="Cargando comentarios" src="/load.gif" style="width: 50px;"/>
														<p id="comentario-gif" style="color:white; font-size: 16px; text-align:center;">Cargando comentarios, por favor espere...</p>
														<div id="fb-comments" class="fb-comments" style="margin-top: 45px;"  data-colorscheme="dark" data-href="{{ site.url }}{{ page.url }}" data-width="100%" data-numposts="5">
															
														
														</div>
															
				
															<div id='persoff'></div>
				
														 
														
					
					
					
					
													 </div>
													 
													  <div class="col-md-0 col-xs-12 col-lg-3 top_trailer_container">
															{% assign series = site.posts | where:"category","series" %}
															{% assign terror = series | where:"tags","Terror" %}
															{% assign romance = series | where:"tags","Romance" %}
															{% assign drama = series | where:"tags","Drama" %}
															{% assign ciencia_ficcion = series | where:"tags","Ciencia-Ficcion" %}
															{% assign accion = series | where:"tags","Accion" %}
															{% assign fantasia = series | where:"tags","Fantasia" %}
															{% assign animado = series | where:"tags","Animado" %}
															{% assign comedia = series | where:"tags","Comedia" %}
															{% assign eroticas = series | where:"tags","Erotico" %}

															
													<div id="categories-4" class="Wdgt widget_categories">
														<div class="genero">Filtrar por Idioma</div>
																<ul style="display: -webkit-flex;display: flex;justify-content: center;">
																	<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/latino"><img src="/latino.svg" alt="mx"></a></li>
																	<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/castellano"><img src="/castellano.svg" alt="es"></a></li>
																	<li style="padding: 0 .5rem;list-style-type: none;"><a href="{{ site.baseurl}}/subtitulado"><img src="/subti.svg" alt="us"></a></li>
															</ul>

													  
											   	</div>
															
				
																<div id="categories-4" class="Wdgt widget_categories">
																	<div class="genero">Géneros en Series</div>
																	 <ul class="ul-top">
																	  <div class="row">
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Terror"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Terror  ({{ terror | size }})</a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Romance"><i class="fas fa-play-circle" style=" padding-right: 10px;"> </i>Romance  ({{ romance | size }})</a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Drama"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Drama  ({{ drama | size }}) </a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Ciencia-Ficcion"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Ciencia Fic. ({{ciencia_ficcion | size }})</a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Accion"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Acción  ({{ accion | size }}) </a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Fantasia"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Fantasía  ({{ fantasia | size }}) </a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Animado"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Animado   ({{ animado | size }})</a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																		<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Comedia"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Comedia  ({{ comedia | size }})</a></li>
																		</div>
																		<div class="col-xs-6  col-sm-3 col-md-3 col-lg-6" style="padding:0">
																			<li  class="list"><a onclick="mostrar()" class="item-li" href="{{ site.baseurl}}/series/Erotico"><i class="fas fa-play-circle" style="padding-right: 10px;"> </i>Eróticas  ({{ eroticas | size }})</a></li>
																			</div>
																	</div>
																	</ul>
																</div>
				
																{% assign counter = 0 %}
																{% assign tag = page.tags %}
				
																<h3 class="derecha">Otros {{page.tags[0]}}</h3>
																	   <div class="single-grid-right">
																		   
																			
																		   {% assign post_news2 = site.posts | where:"tags", page.tags[0] %}
																		   {% assign post_news = post_news2 | where:"category", "series" %}
																		 <div class="row">
																		   {% for post in post_news %}
																				   {% if counter <8  %}
												   
																				   {% assign counter = counter | plus: 1 %}
																			   <div class="single-right-grids">
																				   
																					   <div class="col-xs-6  col-sm-4 col-md-3 col-lg-6">
												   
																								   <article class="box-item col-md-12 col-xs-12 col-lg-12" itemscope="itemscope" itemtype="http://schema.org/BlogPosting" itemprop="blogPost">
																										   <div class="box">
																												   <div class="box-body">
																														   {% if post.image_carousel %}
																														   <div class="cover">

																																   <a title="{{ post.title }}" id="load" onclick="mostrar()" href="{{ post.url | prepend: site.baseurl }}" >
																																   <img src="{{ post.image_carousel }}" data-url="{{ post.image_carousel }}" class="preload" alt="{{ post.title }}">
																																	 </a>
																																	 {% if post.category == 'series' %}

																																	 <div class="series"> Serie </div>
																							 
																							 
																																	 {% else %}
																							 
																																	 <div class="peliculas"> Pelicula </div>
																							 
																							 
																																	 {% endif %}

																																	 {% if post.idioma == 'Latino' %}

																																	 <div class="latino" title="Audio Latino"></div>
									 
									 
																																	{% else %}
																																					{% if post.idioma == 'Castellano' %}
													
																																					<div class="castellano" title="Audio Castellano"></div>
													
																																					{% else %}
																																					<div class="subtitulado" title="Audio Subtitulado"></div>
													
																																					{% endif %}
													
																																		{% endif %}
																																   <div class="titulo"> {{ post.calidad }} </div>
																														   </div>
																														   {% endif %}
																												   </div>
																										   </div>
																								   </article>
				
																								   <div class="col-md-12 col-xs-12 col-lg-12">
																									<div align="center"> <a onclick="mostrar()" href="{{ post.url | prepend: site.baseurl }}" title="{{ post.title }}" class="links"> {{ post.title }}</a> </div>
				
																								   </div>
				
																								   
												   
												   
																								  
																						</div>
				
										  
																					   </div>
				
																					   {%else%}
				
																					   {% break %}
																					  
																					{%endif%}
																			   
																			 {%endfor%}
																		</div>
																				<div class="col-md-12 col-xs-12 col-lg-12" style="margin-top: 35px;" align="center">
																					<a onclick="mostrar()" class="ver_capitulos" target="_self" href="{{ site.baseurl}}/series/{{page.tags[0]}}"><i class="fas fa-eye" style="padding-right: 10px;">  </i>Ver Más </a>
																					</div>
																		</div>
				
														</div>
											
											

					 </article> 
		
				</main>



				
						</section>

						<div class="navbar-bottom" id="navbar-abajo" >
								<div id="grid" class="row flex-grid">
									<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0"> 
											<a onclick="openNav()" href="#" ><i class="fas fa-filter" style="line-height: 1.5;" ></i> <br> <p style="font-size:12px"> Filtrar </p> </a>

							</div>
					{% if page.url == "/peliculas" %}
					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0; "> 
																	 <a onclick="mostrar()" style="color: white;background:#ff002d" href="{{ site.url }}{{ site.baseurl }}/peliculas"><i class="fas fa-film" style="line-height: 1.5;"> <br> <p style="font-size:12px"> Peliculas </p></i></a>

					</div>
					{% else %}

					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0;"> 
													<a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/peliculas"><i class="fas fa-film" style="line-height: 1.5;"> <br> <p style="font-size:12px"> Peliculas </p></i></a>

					 </div>


					{% endif %}

					{% if page.url == "/series" %}
					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0; "> 
																	 <a onclick="mostrar()" style="color: white;background:#ff002d" href="{{ site.url }}{{ site.baseurl }}/series" ><i class="fas fa-file-video" style="line-height: 1.5;"> <br> <p style="font-size:12px"> Series </p></i></a>

					</div>
					{% else %}
					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0;"> 
													<a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/series" ><i class="fas fa-file-video" style="line-height: 1.5;"> <br> <p style="font-size:12px" > Series </p></i></a>

					</div>


					{% endif %}

					{% if page.url == "/netflix" %}
					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0; "> 
																	 <a onclick="mostrar()" style="color: white;background:#ff002d" href="{{ site.url }}{{ site.baseurl }}/netflix" ><img style="width: 10px;padding-bottom: 3px;" src="https://res.cloudinary.com/dmsdzouoo/image/upload/v1568868938/icon-netflix_druij8.png" alt="Netflix"> <br> <p style="font-size:12px"> Netflix </p></a>

					</div>
					{% else %}
					<div class="box-item col-xs-3 col-sm-3 col-md-3 col-lg-3 shown" style="padding:0;"> 
													<a onclick="mostrar()" href="{{ site.url }}{{ site.baseurl }}/netflix" ><img style="width: 10px;padding-bottom: 3px;" src="https://res.cloudinary.com/dmsdzouoo/image/upload/v1568868938/icon-netflix_druij8.png" alt="Netflix"> <br> <p style="font-size:12px"> Netflix </p></a>

					</div>


					{% endif %}

								

								</div>
										 
						 </div>
						
						
        
				{% include footer-post.html %}



				


		

				{% else %}

				<div style="margin: 0px auto;  max-width: 600px; text-align: center; padding-top: 60px;">
						<img style="width: 250px;" src="/assets/img/gif-mantenimiento.gif" width="100%" alt="Página no encontrada">
						<p style="color:white; font-size:25px; padding-top: 25px;"><strong>Estamos en Mantenimiento</strong></p>
						<p style="color:white;     padding-top: 25px;     font-size: 23px;">Lo sentimos, en estos momentos estamos realizando un mantenimiento a nuestras peliculas y series, regresaremos lo más pronto posible</p>
					</div>


			
			</div>
			{% endif %}
			

		
        
    </body>
</html>
